---
import ContactUs from "./ContactUs.astro";
// import CodeBlock from "./CodeBlock.astro";
---

<div
  class="flex flex-col items-center animate-fade-in-down h-screen justify-center relative cursor-default"
>
  <h1 class="text-2xl">This domain is for sale</h1>
  <div class="py-4"></div>
  <h2 class="text-xl font-light">Please send your offer</h2>
  <div class="py-4">
  <ContactUs />

  </div>
  </div>
  


 